<md-dialog>
	<md-dialog-content style="padding: 0;">
		<md-content class="md-padding">
			<h2>Developers</h2>

			<md-list class="about developer-list">
				<md-list-item class="md-3-line" ng-repeat="developer in ::ctrl.developers" style="height: 150px;">
					<img ng-src="{{developer.picture}}" class="developer-face" alt="{{developer.name}}">
					<div class="md-list-item-text">
						<h2 style="margin: 0;" class="md-headline">{{developer.name}}
							<md-button class="md-fab md-mini md-primary" style="margin: 0 0 -15px 10px" ng-href="{{developer.linkedIn}}" ng-if="developer.linkedIn" aria-label="LinkedIn" target="_blank">
								<ng-md-icon icon="linkedin"></ng-md-icon>
								<md-tooltip md-direction="top">
									Visit my LinkedIn
								</md-tooltip>
							</md-button>
        				</h2>
						<h3 class="md-title">{{developer.title}}</h3>
						<span class="md-body-1" style="line-height: 125%;">{{developer.text}}</span>
					</div>
					<md-divider md-inset ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>

			<md-whiteframe style="margin: 20px; padding: 20px;" class="md-whiteframe-z1" layout layout-align="start center">
				<span>RealTimeTradeGame is open-source and available via <a href="https://github.com/AaronBuxbaum/RealTimeTradeGame" target="_blank"><ng-md-icon icon="github-circle"></ng-md-icon>GitHub</a>.
				Code contributions are always appreciated!</span>
			</md-whiteframe>
		</md-content>
	</md-dialog-content>

	<md-dialog-actions>
		<md-button md-autofocus ng-click="ctrl.closeDialog()" class="md-primary">
			Close
		</md-button>
	</md-dialog-actions>
</md-dialog>