<md-dialog aria-label="Log In/Sign Up" flex="50" class="login">
	<form name="logInForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<span>Log In/Sign Up</span>
			</div>
		</md-toolbar>

		<md-dialog-content layout="column" layout-padding style="padding-top: 30px;">
			<md-input-container layout-padding>
				<label>Email</label>
				<input md-autofocus type="email" ng-model="ctrl.email" required>
			</md-input-container>

			<md-input-container layout-padding>
				<label>Password</label>
				<input type="password" ng-model="ctrl.password" required>
			</md-input-container>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button type="submit" class="md-primary md-raised" ng-click="ctrl.logIn(ctrl.email, ctrl.password)">
				Log In
			</md-button>
			<md-button class="md-primary md-raised" ng-click="ctrl.signUp(ctrl.email, ctrl.password)">
				Sign Up
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>