<md-content layout-padding>
  <!-- Add widget -->
  <form ng-if="$ctrl.isOpen" layout class="fade">

    <!-- Stock selection -->
    <md-autocomplete flex="35" md-selected-item="$ctrl.newStock.stock" md-search-text="$ctrl.newStock.searchText" md-items="item in $ctrl.getStocks($ctrl.newStock.searchText)"
    md-item-text="item.name" md-autoselect="true" md-delay="100" md-menu-class="add-new-stocks-autocomplete" placeholder="Pick a stock"
    md-autofocus>
      <md-item-template>
        <span md-highlight-text="$ctrl.newStock.searchText" md-highlight-flags="i" class="item-title truncate">
           {{::$ctrl.unescape(item.name)}}
        </span>
      </md-item-template>

      <md-not-found>
        No matches found for "{{::$ctrl.newStock.searchText}}".
      </md-not-found>
    </md-autocomplete>

    <!-- Confirm/cancel buttons -->
    <md-button type="submit" class="md-raised md-primary" ng-click="$ctrl.addStock($ctrl.newStock.stock)">Confirm</md-button>
    <md-button class="md-raised md-warn" ng-click="$ctrl.close()">Cancel</md-button>
  </form>

  <!-- Button to open up the add widget -->
  <md-button ng-if="!$ctrl.isOpen" class="md-raised md-primary fade" ng-click="$ctrl.isOpen = true">Add Stock</md-button>
</md-content>